.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    height: 100px;
    background-color: black;
    border-bottom: 1px solid white;
}

.Logo{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    /* transition: 1s ease-out; */

    /* border-right: 1px solid whitesmoke; */

    background-color: red;
    color: white;

}